<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>

  <li>
    <strong>Messages:</strong>
    <ul>
      <%= for message <- @messages do %>
        <li><%= message.body %></li>
      <% end%>
    </ul>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
